.t3lab{
    .progress-bar__filled{
        background-image: linear-gradient(to right, #FB4B14,#FB4B14);
     }
    span{
        color: #FB4B14;
    }
    .usecases-text-content{
        padding-left: 0;
        &__container{
            max-width: toRem(1313);
            @include adaptiveValue("padding-block", 190, 60);
            svg{
                @include adaptiveValue("width", 81, 50);
                @include adaptiveValue("margin-bottom", 61, 30);
            }
            p{
                width: 100%;
                max-width: 100%;
                @include adaptiveValue("font-size", 31, 16);
                color: #FFF;
                font-family: "Open Sans";
                font-weight: 300;
                line-height: normal;
                &:not(:last-child) {
                    @include adaptiveValue("margin-bottom", 40, 20);
                }
            }
        }
    }
    .usecases-image__container{
        padding: 0;
    }
    .usecases-image__pic{
        height: toVW(1106);
        max-height: toRem(1106);

    }
    .usecases-image{
        &_head{
            height: 100vh;
        }
        &_1{
            height: toVW(870);
            max-height: toRem(870);
        }
        &_2{
            height: toVW(999);
            max-height: toRem(999);
        }

        &_4{
            height: toVW(1126);
            max-height: toRem(1126);
        }
        &_8{
            height: toVW(939);
            max-height: toRem(939);
        }
        &_10{
            height: toVW(1597);
            max-height: toRem(1597);
        }
        &_11{
            height: toVW(1080);
            max-height: toRem(1080);
        }
    }
}